@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2240190_sl6tk4jusa.eot?t=1607064875304'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2240190_sl6tk4jusa.eot?t=1607064875304#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABqwAAAKRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBFIEbATYCJAMMCwgABCAFhG0HNRvgBcg+QCa3q4Nh4EjDrkXmcF83C19bhcQjGBIP/439um9mENGkmvHMIXFIRLMoVklQaYkU6LK7oWz7+7+mKaBQlXm+LKsIFap220H+AecyciwcGzWlNuE24TZ0rkWU+DSL6HQUrduHaIk801/mMcf3xArgv3T4qsdSrpk4vRzy6mG+AQa+3/k8l+NbQAcyv52dW2vY2OP5vSjAhHoB7Y1tsgLEhrELXuBlAvWG1WW2i/UOygp7ViDOgaVBuRBXFFaqFaobNhbxrqA2vV54i34f/ywFQ1KV2Qt3Dycm9L99h/dxDJzul/OCbSNjBijEQWN+X04wNqfemu+urVaEtFQKTqQ17NUH/eMloprd3AgmYCHxjScTfLdFAhlUJ8UxYAUxnQNCamxquhfw+uhVmlJDbro9rfHt+F7m8Lq/lPNz2NP79d6N/iVEX62de0ZtIavu8HK/D8etfcKk/gOpKy+6dQFQeTp+A+37nwuSX2QQzP3fGe/ahgK+/ouNw4Kg9iSB4Kf1KkgFUrjBduSiWXU2B7L+iTMT6tWjguBwu7/pwS6QeUMt10EkNYaQ1RohCjODKg1WUK3WGupNm21v0IHlRKnDlGeA0OoLSbNPZK2+icL8okq3f1RrDRz19kI/sMFYAC7tSBMyUb9Fx4hC5bqkGrduyLr0Nc4bIu5AnDop7DTb5dKMQuIllqRXVldEoeIowCm4jnw/wpgjlwxp2iJxr9VSTR9qGlEAVVsY0QhiQrpbyGGIhFTQXVQr398glks+DXeo6soDwlJO/6ijqT2AmFnDQapHuSV1xdIlhIIUFgmgKRhHfL4IipvHuYhBNNkTsrGeltNJDbU2t7cHP1DD2rBH50iRo8inQCs8vK8BAAAAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_2240190_sl6tk4jusa.woff?t=1607064875304') format('woff'),
  url('//at.alicdn.com/t/font_2240190_sl6tk4jusa.ttf?t=1607064875304') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2240190_sl6tk4jusa.svg?t=1607064875304#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjia:before {
  content: "\e600";
}

.iconicon-:before {
  content: "\e6df";
}
